*
!assets/
!gimmicks/ascii-mugshot/*.js
!**/package.json
!package.json
!**/pnpm-lock.yaml
!pnpm-lock.yaml
!**/pnpm-workspace.yaml
!pnpm-workspace.yaml
!scripts
!**.ts
!**.tsx
!urls.json
!**.vue
node_modules/**