*
!package.json
!bun.lock
# Frontend
!frontend/**/bun.lock
!frontend/gimmicks/ascii-mugshot/*.ts
!frontend/gimmicks/ascii-mugshot/package.json
!frontend/gimmicks/ascii-mugshot/tsconfig.json
frontend/node_modules/**
!frontend/package.json
!frontend/scripts
!frontend/src/
!frontend/tailwind.config.ts
!frontend/*.ts
!frontend/tsconfig.json
!frontend/urls.json
# LIB
!lib/package.json
# CLI
!cli/package.json
# Web
!nginx.conf
# Chat
!chat/*/package.json