.git
.tem
.idea
.env

# Docker
docker
Dockerfile*
docker-compose.*yaml*

.pylintrc
pyproject.toml
Pipfile

# .pnpm-store is generated in development mode when the project root is shared
# to the container via a volume
.pnpm-store
**/node_modules
frontend/dist

worker/server.js
worker/worker.js

blog
mail

nginx.host.conf.in
