# Python
__pycache__

# JavaScript
node_modules
npm-debug.log*
pnpm-debug.log*

# Server
.DS_Store
dist
/var

# secret env file
.env/local.secret

# Docker and build process (I use shdocker to generate Dockerfiles)
Dockerfile*
