# Python
__pycache__

# Server
.DS_Store
dist
/var

# secret env file
.env/*.secret

# Docker and build process (I use shdocker to generate Dockerfiles)
Dockerfile*
/docker-compose*.yaml

# Miscellaneous
_*/
.pnpm-store
