# Python
__pycache__

# Server
.DS_Store
dist
/var

# secret env file
.env.d/*.secret

# Docker and build process (I use shdocker to generate Dockerfiles)
_docker
/docker-compose*.yaml

# Miscellaneous
_*/
.pnpm-store
