services:
  web:
    # Image
    image: docker.veracioux.me/web:${DOCKER_IMAGES_VERSION:-latest}
    build:
      context: .
      dockerfile: docker/web.Dockerfile

    # Container
    restart: always
    depends_on:
      - frontend
      - github-stats
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:3000:3000"

  frontend:
    # Image
    image: docker.veracioux.me/frontend:${DOCKER_IMAGES_VERSION:-latest}
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile

  docker-registry:
    image: registry:2
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:5000:5000"
    restart: always
    environment:
      REGISTRY_HTTP_HOST: https://docker.${VERACIOUX_HOSTNAME:-unconfigured}:443
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry"
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    volumes:
      - "${HTPASSWD_PATH:-./dev.htpasswd}:/auth/htpasswd:ro"
      - "${DOCKER_REGISTRY_DIR:-docker-registry-data}:/var/lib/registry"

  github-stats:
    image: docker.veracioux.me/github-stats:${DOCKER_IMAGES_VERSION:-latest}
    build:
      context: apps/github-stats
    environment:
      PAT_1: "${GITHUB_README_STATS_PAT}"
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:9000:9000"

  npm:
    image: verdaccio/verdaccio:6.2.4
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:4873:4873"
    volumes:
      - ./apps/verdaccio/config.yaml:/verdaccio/conf/config.yaml
      - ${HTPASSWD_PATH:-./dev.htpasswd}:/verdaccio/htpasswd
      - ${NPM_STORAGE_PATH:-npm-storage}:/verdaccio/storage
    restart: always

  grafana:
    image: grafana/grafana:12.4.0-20585723282
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:3002:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    restart: always

  redis:
    image: redis:7.4-alpine
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  docker-registry-data:
  npm-storage:
  grafana-data:
