x-environment: &environment
  ENV: "${ENV:?one of prod, staging, dev}"

x-env_file: &env_file
  - ./.env.d/common
  - ./.env.d/${ENV}

services:
  db:
    image: postgres:14.1-alpine
    restart: always
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:${DB_PORT}:5432"
    env_file: *env_file
    # environment:
    #   POSTGRES_AUTH_METHOD: trust

  rabbitmq:
    image: rabbitmq:3.7
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:5672:5672"
    env_file:
      - ./.env.d/common

  web:
    # Image
    image: docker.veracioux.me/web:${ENV}
    build:
      context: .
      dockerfile: _docker/Dockerfile.web.${ENV}

    # Container
    restart: always
    depends_on:
      - api
      - frontend
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:${WEB_PORT}:3000"
    env_file: *env_file
    environment:
      <<: *environment
      API_HOST: api
      DB_HOST: db
      FRONTEND_HOST: frontend
    volumes:
      - web_static:/var/static_root:rw

  frontend:
    # Image
    image: docker.veracioux.me/frontend:${ENV}
    build:
      context: frontend
      dockerfile: _docker/Dockerfile.frontend.${ENV}

    # Container
    restart: always
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:$FRONTEND_PORT:$FRONTEND_PORT"
    env_file: *env_file
    volumes:
      - ./frontend:/frontend:ro
      - frontend_dotnuxt:/frontend/.nuxt
      - frontend_node_modules:/frontend/node_modules
      - frontend_gimmicks_ascii_mugshot_node_modules:/frontend/gimmicks/ascii-mugshot/node_modules

  docker-registry:
    image: registry:2
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:${DOCKER_REGISTRY_PORT}:5000"
    restart: always
    environment:
      REGISTRY_HTTP_HOST: https://docker.veracioux.me:443
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry"
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    volumes:
      - "${HOME}/auth:/auth"
      - "${HOME}/docker-registry:/var/lib/registry"

volumes:
  web_static:
  frontend_dotnuxt:
  frontend_node_modules:
  frontend_gimmicks_ascii_mugshot_node_modules:
