services:
  web:
    # Image
    image: docker.veracioux.me/web
    build:
      context: .
      dockerfile: _docker/Dockerfile.web

    # Container
    restart: always
    depends_on:
      - frontend
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:3000:3000"
    env_file:
      - ./.env.d/common
    environment:
      DB_HOST: db
      FRONTEND_HOST: frontend

  frontend:
    # Image
    image: docker.veracioux.me/frontend
    build:
      context: frontend

  docker-registry:
    image: registry:2
    # ports:
    #   - "${EXPOSED_IP:-127.0.0.1}:5000:5000"
    restart: always
    environment:
      REGISTRY_HTTP_HOST: https://docker.veracioux.me:443
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry"
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    volumes:
      - "${HOME}/auth:/auth"
      - "${HOME}/docker-registry:/var/lib/registry"
