services:
  web:
    # Image
    image: docker.veracioux.me/web
    build:
      context: .

    # Container
    restart: always
    depends_on:
      - frontend
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:3000:3000"
    env_file:
      - ./.env.d/common

  frontend:
    # Image
    image: docker.veracioux.me/frontend
    build:
      context: frontend

  docker-registry:
    image: registry:2
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:5000:5000"
    restart: always
    environment:
      REGISTRY_HTTP_HOST: https://docker.veracioux.me:443
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry"
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd

  ssh-key:
    image: linuxserver/openssh-server:latest
    environment:
      PASSWORD_ACCESS: true
      USER_PASSWORD: ssh-key
      USER_NAME: ssh-key
    ports:
      - "${EXPOSED_IP:-127.0.0.1}:12222:2222"
    restart: always
