[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
djangorestframework = "~=3.12"
uvicorn = "~=0.15.0"
django-storages = {extras = ["dropbox"], version = "1.12.2"}
django-environ = "~=0.8.1"
psycopg2-binary = "~=2.9.3"

[dev-packages]
pylint = "~=2.11"
isort = "~=5.9"
black = "~=21.10b0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
