---
- hosts: all
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
    - name: Install required packages
      apt:
        name:
          - docker.io
          - docker-compose
          - git
          - fish
          - nginx
          - fdisk
          - parted
          - rsync
          - curl
          - acl
        state: present
    - name: Gather disk facts
      setup:
        gather_subset: hardware
    - name: Wait for secondary disk (/dev/sdb)
      wait_for:
        path: /dev/sdb
        state: present
    - name: Partition the disk with fdisk
      shell: echo -e "o\nn\np\n1\n\n\nw" | /usr/sbin/fdisk /dev/sdb
    - name: Format /dev/sdb1 as ext4
      filesystem:
        dev: /dev/sdb1
        fstype: ext4
    - name: Create mount point /media/data
      file:
        path: /media/data
        state: directory
        owner: root
        group: root
    - name: Mount /dev/sdb1 to /media/data
      mount:
        path: /media/data
        src: /dev/sdb1
        fstype: ext4
        opts: defaults
        state: mounted
    - name: Create var on sdb1
      file:
        path: /media/data/var
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create docker-registry on sdb1
      file:
        path: /media/data/docker-registry
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create git on sdb1
      file:
        path: /media/data/git
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create eo-git on sdb1
      file:
        path: /media/data/eo-git
        state: directory
        owner: root
        group: root
        mode: '0755'
    # Move /var contents to /media/data/var and mount
    - block:
      - name: Check if move already done
        stat:
          path: /media/data/var/.veracioux-moved
        register: moved_flag
      - name: Move /var contents to /media/data/var
        command: rsync -a --remove-source-files /var/ /media/data/var/
        when: not moved_flag.stat.exists
      - name: Mark move as done
        copy:
          content: "# This file indicates that /var contents have been moved to /media/data/var\n# Created by Ansible playbook for idempotency\n"
          dest: /media/data/var/.veracioux-moved
      - name: Mount /media/data/var to /var
        mount:
          path: /var
          src: /media/data/var
          fstype: none
          opts: bind
          state: mounted
    # Set up ~haris
    - block:
        - name: Create user haris
          user:
            name: haris
            state: present
        - name: Add haris to docker group
          user:
            name: haris
            groups: docker
            append: yes
        - name: Create ~/docker-registry directory
          file:
            path: /home/haris/docker-registry
            state: directory
            owner: haris
            group: haris
        - name: Create ~/auth directory
          file:
            path: /home/haris/auth
            state: directory
            owner: haris
            group: haris
        - name: Mount /media/data/docker-registry /home/haris/docker-registry
          mount:
            path: /home/haris/docker-registry
            src: /media/data/docker-registry
            fstype: none
            opts: bind
            state: mounted
        - name: Configure Docker to store credentials in plaintext
          copy:
            content: '{"auths":{}}'
            dest: /home/haris/.docker/config.json
            owner: haris
            group: haris
            mode: '0600'
        - name: Log into Docker registry
          docker_login:
            registry: docker.veracioux.me
            username: docker-registry
            password: "{{ lookup('pipe', 'cd .. && lpass docker-registry') }}"
          become_user: haris
        - name: Bootstrap dotfiles
          shell: curl https://raw.githubusercontent.com/veracioux/dotfiles/master/bootstrap/bootstrap.sh | bash
          become_user: haris
    # Set up ~git
    - name: Create user git
      user:
        name: git
        state: present
    # Set up ~eo-git
    - name: Create user git
      user:
        name: git
        state: present
    # Set up website
    - block:
      - name: Clone or update website repo
        git:
          repo: https://github.com/veracioux/website
          dest: /home/haris/website
          update: yes
        become: true
        become_user: haris
