---
- hosts: all
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
    - name: Install required packages
      apt:
        name:
          - docker.io
          - docker-compose
          - git
          - fish
          - nginx
          - fdisk
          - parted
          - rsync
          - curl
          - acl
          - pass
          - golang-docker-credential-helpers
          - apache2-utils
        state: present
    - name: Gather disk facts
      setup:
        gather_subset: hardware
    - name: Wait for secondary disk (/dev/sdb)
      wait_for:
        path: /dev/sdb
        state: present
    - name: Partition the disk with fdisk
      shell: echo -e "o\nn\np\n1\n\n\nw" | /usr/sbin/fdisk /dev/sdb
    - name: Format /dev/sdb1 as ext4
      filesystem:
        dev: /dev/sdb1
        fstype: ext4
    - name: Create mount point /media/data
      file:
        path: /media/data
        state: directory
        owner: root
        group: root
    - name: Mount /dev/sdb1 to /media/data
      mount:
        path: /media/data
        src: /dev/sdb1
        fstype: ext4
        opts: defaults
        state: mounted
    - name: Create var on sdb1
      file:
        path: /media/data/var
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create docker-registry on sdb1
      file:
        path: /media/data/docker-registry
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create git on sdb1
      file:
        path: /media/data/git
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create eo-git on sdb1
      file:
        path: /media/data/eo-git
        state: directory
        owner: root
        group: root
        mode: '0755'
    # Move /var contents to /media/data/var and mount
    - block:
      - name: Check if move already done
        stat:
          path: /media/data/var/.veracioux-moved
        register: moved_flag
      - name: Move /var contents to /media/data/var
        command: rsync -a --remove-source-files /var/ /media/data/var/
        when: not moved_flag.stat.exists
      - name: Mark move as done
        copy:
          content: "# This file indicates that /var contents have been moved to /media/data/var\n# Created by Ansible playbook for idempotency\n"
          dest: /media/data/var/.veracioux-moved
      - name: Mount /media/data/var to /var
        mount:
          path: /var
          src: /media/data/var
          fstype: none
          opts: bind
          state: mounted
    # Set up ~haris
    - block:
        - name: Create user haris
          user:
            name: haris
            state: present
        - name: Generate GPG key
          shell: |
            cat > /tmp/gpg-key.conf <<EOF
            Key-Type: RSA
            Key-Length: 4096
            Subkey-Type: RSA
            Subkey-Length: 4096
            Name-Real: Haris
            Name-Email: haris@veracioux.me
            Expire-Date: 0
            %no-protection
            %commit
            EOF
            gpg --batch --gen-key /tmp/gpg-key.conf
          become_user: haris
        - name: Initialize pass with GPG key
          shell: |
            KEY_ID=$(gpg --list-keys --with-colons | awk -F: '/^pub:/ { print $5 }' | head -1)
            pass init $KEY_ID
          become_user: haris
        - name: Add haris to docker group
          user:
            name: haris
            groups: docker
            append: yes
        - name: Create .docker directory
          file:
            path: /home/haris/.docker
            state: directory
            owner: haris
            group: haris
            mode: '0700'
        - name: Configure Docker to use pass credential helper
          copy:
            content: '{"credsStore": "pass"}'
            dest: /home/haris/.docker/config.json
            owner: haris
            group: haris
            mode: '0600'
        - name: Log into Docker registry
          docker_login:
            registry: docker.veracioux.me
            username: docker-registry
            password: "{{ lookup('pipe', 'cd .. && lpass docker-registry') }}"
          become_user: haris
        - name: Add docker-registry password to pass
          shell: |
            echo "$DOCKER_REGISTRY_PASSWORD" | pass insert -m docker-registry
          environment:
            DOCKER_REGISTRY_PASSWORD: "{{ lookup('pipe', 'cd .. && lpass docker-registry') }}"
          become_user: haris
        - name: Pull docker.veracioux.me/dotfiles
          docker_image:
            name: docker.veracioux.me/dotfiles
            source: pull
          become_user: haris
          register: dotfiles_pull_result
        - name: Bootstrap dotfiles
          shell: curl https://raw.githubusercontent.com/veracioux/dotfiles/master/bootstrap/bootstrap.sh | bash
          become_user: haris
          when: dotfiles_pull_result.changed
    # Set up ~git
    - name: Create user git
      user:
        name: git
        state: present
    # Set up ~eo-git
    - name: Create user git
      user:
        name: git
        state: present
    # Set up website
    - block:
      - name: Create ~/docker-registry directory
        file:
          path: /home/haris/docker-registry
          state: directory
          owner: haris
          group: haris
      - name: Create ~/auth directory
        file:
          path: /home/haris/auth
          state: directory
          owner: haris
          group: haris
      - name: Mount /media/data/docker-registry /home/haris/docker-registry
        mount:
          path: /home/haris/docker-registry
          src: /media/data/docker-registry
          fstype: none
          opts: bind
          state: mounted
      - name: Clone or update website repo
        git:
          repo: https://github.com/veracioux/website
          dest: /home/haris/website
          update: yes
        become_user: haris
      - name: Allow pushes to website repo
        command: git config receive.denyCurrentBranch warn
        args:
          chdir: /home/haris/website
        become_user: haris
      - name: Set up docker registry password
        shell: pass show docker-registry | htpasswd -Bci /home/haris/auth/htpasswd docker-registry
        become_user: haris
      - name: Apply production compose config
        command: ln -sf compose.prod-merge.yml compose.override.yml
        args:
          chdir: /home/haris/website
        become_user: haris
      - name: Start website services
        command: docker-compose up -d --pull always
        args:
          chdir: /home/haris/website
        become_user: haris
      - name: Serve website
        command: scripts/serve.sh
        args:
          chdir: /home/haris/website
