@mixin labelContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/**
  * Style of the 'veracioux' text found in the navbar and a few other places.
 */
@mixin veracioux {
  font-size: 2rem;
  color: var(--color-primary);
}

@mixin fillParent {
  position: absolute;
  inset: 0;
}

@mixin fillWindow {
  position: fixed;
  inset: 0;
}

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollContainer {
  position: relative;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.centerFlex {
  @include centerFlex;
}

.fillParent {
  @include fillParent;
}

.fillWindow {
  @include fillWindow;
}

.labelContainer {
  @include labelContainer;
}

@keyframes opacity-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin opacityFadeIn($animationParams) {
  animation: opacity-fade-in $animationParams;
}
