@mixin labelContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/**
  * Style of the 'veracioux' text found in the navbar and a few other places.
 */
@mixin veracioux {
  font-size: 32px;
  color: var(--color-primary);
}

.labelContainer {
  @include labelContainer;
}
