@mixin screenWidthAbove($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin screenWidthBelow($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin screenHeightAbove($height) {
  @media only screen and (min-height: $height) {
    @content;
  }
}

@mixin screenSizeAbove($width, $height: null) {
  @if $height == null {
    $height: $width;
  }
  @media only screen and (min-width: $width) and (min-height: $height) {
    @content;
  }
}

$tablet: 480px;
$small: 768px;
$large: 1024px;
$xlarge: 1280px;

:root {
  --color-primary: #7c4dff;
  --color-primary-rgb: 124, 77, 255;
  --color-secondary: #99a3ff;
  --color-secondary-rgb: 153, 163, 255;
  --color-background-0: black;
  --color-background-0-rgb: 0, 0, 0;
  --color-background-1: #0e0f17;
  --color-background-1-rgb: 14, 15, 23;
  --color-background-2: #0a0b12;
  --color-background-2-rgb: 10, 11, 18;
  --color-text: #d2dcf9;
  --color-text-rgb: 210, 220, 249;

  color: var(--color-text);
  font-size: 13px;

  @include screenSizeAbove($small) {
    font-size: 14px;
  }

  @include screenSizeAbove($large, $small) {
    font-size: 15px;
  }

  @include screenSizeAbove($xlarge, $large) {
    font-size: 16px;
  }
}

a {
  color: rgba(var(--color-secondary-rgb), 0.9);
  text-decoration: none;
  transition: scale ease-in-out 0.2s;
}
a:hover {
  scale: 105%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  user-select: none;
  margin: 0;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}

pre {
  margin: 0;
}
