/** Styles used extensively by the home page. */

.fullWindow {
  height: 100vh;
  width: 100%;
}

.section {
  height: 100vh;
  width: 100%;
}

.sectionTitle {
  width: 100%;
  padding-top: 128px;
  padding-bottom: 96px;
  font-size: 48px;
  color: #d2dcf9;
  text-align: center;
}
