@use "./global.scss";

@mixin _verticalMargin($top: null, $bottom: null, $multiplier: 1) {
  @if $top != null {
    margin-top: calc($top * $multiplier);
  }
  @if $bottom != null {
    margin-bottom: calc($bottom * $multiplier);
  }
}

@mixin responsiveVerticalMargin($top: null, $bottom: null) {
  @include _verticalMargin($top, $bottom);

  @include global.screenSizeAbove(global.$tablet) {
    @include _verticalMargin($top, $bottom, 1.2);
  }

  @include global.screenSizeAbove(global.$small) {
    @include _verticalMargin($top, $bottom, 1.4);
  }

  @include global.screenSizeAbove(global.$large, global.$small) {
    @include _verticalMargin($top, $bottom, 1.6);
  }
}