@mixin labelContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/**
  * Style of the 'veracioux' text found in the navbar and a few other places.
 */
@mixin veracioux {
  font-size: 2rem;
  color: var(--color-primary);
}

@mixin fillParent {
  position: absolute;
  inset: 0;
}

@mixin fillWindow {
  position: fixed;
  inset: 0;
}

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollContainer {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@mixin paddingSide($size) {
  padding-left: $size;
  padding-right: $size;
}

.flex {
  display: flex;
}

.centerFlex {
  @include centerFlex;
}

.fillParent {
  @include fillParent;
}

.fillWindow {
  @include fillWindow;
}

.labelContainer {
  @include labelContainer;
}

@keyframes opacity-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin opacityFadeIn($animationParams) {
  animation: opacity-fade-in $animationParams;
}

@function beveledEdges($size) {
  @return polygon(
    // top-left
    0 $size,
    $size 0,
    // top-right
    calc(100% - $size) 0,
    100% $size,
    // bottom-right
    100% calc(100% - $size),
    calc(100% - $size) 100%,
    // bottom-left
    $size 100%,
    0 calc(100% - $size)
  );
}

@mixin beveledEdges($size) {
  clip-path: beveledEdges($size);
}

// Create a beveled frame around an element
@mixin beveledFrame($bevelWidth, $frameWidth, $color, $background) {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $color;
    @include beveledEdges($bevelWidth);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: $background;
    @include beveledEdges(calc($bevelWidth - $frameWidth / 2));
    z-index: 0;
  }

  > * {
    z-index: 1;
  }
}
