name: Build

on:
  push:

env:
  DOCKER_IMAGES_VERSION: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'staging' && 'stg' || 'latest' }}
  DOCKER_USERNAME: docker-registry
  DOCKER_PASSWORD: ${{ secrets.VERACIOUX_DOCKER_PASSWORD }}
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout code
         uses: actions/checkout@v4

       - name: Set up Docker Buildx
         uses: docker/setup-buildx-action@v3

       - name: Log in to Docker registry
         run: echo "${{ env.DOCKER_PASSWORD }}" | docker login docker.veracioux.me -u ${{ env.DOCKER_USERNAME }} --password-stdin

       - name: Build and push web image
         uses: docker/build-push-action@v5
         with:
           context: .
           file: docker/web.Dockerfile
           tags: docker.veracioux.me/web:${{ env.DOCKER_IMAGES_VERSION }}
           cache-from: type=gha
           cache-to: type=gha,mode=max
           push: true

       - name: Build and push frontend image
         uses: docker/build-push-action@v5
         with:
           context: .
           file: docker/frontend.Dockerfile
           tags: docker.veracioux.me/frontend:${{ env.DOCKER_IMAGES_VERSION }}
           cache-from: type=gha
           cache-to: type=gha,mode=max
           push: true

       - name: Build and push github-stats image
         uses: docker/build-push-action@v5
         with:
           context: apps/github-stats
           tags: docker.veracioux.me/github-stats:${{ env.DOCKER_IMAGES_VERSION }}
           cache-from: type=gha
           cache-to: type=gha,mode=max
           push: true