name: Build

on:
  push:
    paths:
      - ".github/workflows/**"
      - "compose.yml"
      - "apps/**"
      - "docker/**"
      - "frontend/**"
      - "lib/**"
      - "package.json"
      - "bun.lock"
      - "nginx.conf"
  workflow_dispatch:

env:
  DOCKER_IMAGES_VERSION: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'staging' && 'stg' || 'latest' }}
  DOCKER_USERNAME: docker-registry
  DOCKER_PASSWORD: ${{ secrets.VERACIOUX_DOCKER_PASSWORD }}
  DOCKER_BUILDKIT: 1

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UNIQUE_TAG: job_${{ github.job }}-run_${{ github.run_id }}-attempt_${{ github.run_attempt }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check changed files
        uses: dorny/paths-filter@v3
        id: changes
        with:
          base: ${{ github.ref_name }}
          filters: |
            github_stats:
              - '.github/workflows/build.yml'
              - 'compose.yml'
              - 'apps/github-stats/**'
            frontend:
              - '.github/workflows/build.yml'
              - 'compose.yml'
              - 'frontend/**'
              - 'lib/**'
              - 'docker/frontend.Dockerfile'
              - 'package.json'
              - 'bun.lock'
            web:
              - '.github/workflows/build.yml'
              - 'compose.yml'
              - 'docker/web.Dockerfile'
              - 'nginx.conf'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: docker.veracioux.me
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Build github-stats image
        uses: docker/build-push-action@v6
        if: steps.changes.outputs.github_stats == 'true'
        with:
          context: apps/github-stats
          tags: github-stats:${{ env.UNIQUE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Build frontend image
        uses: docker/build-push-action@v6
        if: steps.changes.outputs.frontend == 'true'
        with:
          context: .
          file: docker/frontend.Dockerfile
          build-args: |
            IS_STAGING=${{ github.ref_name == 'staging' }}
          tags: frontend:${{ env.UNIQUE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Build web image
        uses: docker/build-push-action@v6
        if: steps.changes.outputs.web == 'true' || steps.changes.outputs.frontend == 'true'
        with:
          context: .
          file: docker/web.Dockerfile
          tags: web:${{ env.UNIQUE_TAG }}
          build-args: |
            TAG=${{ env.UNIQUE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Push images to custom registry
        if: github.ref_name == 'main' || github.ref_name == 'staging' || github.ref_name == 'dev'
        run: |
          if [ "${{ steps.changes.outputs.github_stats }}" = "true" ]; then
            echo "Pushing github-stats image..."
            docker tag github-stats:$UNIQUE_TAG docker.veracioux.me/github-stats:${{ env.DOCKER_IMAGES_VERSION }}
            docker compose push github-stats
          fi
          if [ "${{ steps.changes.outputs.frontend }}" = "true" ] || [ "${{ steps.changes.outputs.web }}" = "true" ]; then
            echo "Pushing web image..."
            docker tag web:$UNIQUE_TAG docker.veracioux.me/web:${{ env.DOCKER_IMAGES_VERSION }}
            docker compose push web
          fi
