name: Build

on:
  push:

env:
  DOCKER_IMAGES_VERSION: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'staging' && 'stg' || 'latest' }}
  DOCKER_USERNAME: docker-registry
  DOCKER_PASSWORD: ${{ secrets.VERACIOUX_DOCKER_PASSWORD }}
  CACHE_FROM: ${{ !vars.USE_LOCAL_DOCKER_CACHE && 'type=gha' || null}}
  CACHE_TO: ${{ !vars.USE_LOCAL_DOCKER_CACHE && 'type=gha,mode=max' || null }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: log
        run: |
          echo vars.USE_LOCAL_DOCKER_CACHE: ${{ vars.USE_LOCAL_DOCKER_CACHE }}
          echo CACHE_FROM: ${{ env.CACHE_FROM }}
          echo CACHE_TO: ${{ env.CACHE_TO }}
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: docker.veracioux.me
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Build github-stats image
        run: |
          docker build -f docker/frontend.Dockerfile \
              --cache-from=${{ env.CACHE_FROM }} \
              --cache-to=${{ env.CACHE_TO }} \
              -t docker.veracioux.me/frontend:${{ env.DOCKER_IMAGES_VERSION }} \
              .

      # - name: Build frontend image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: docker/frontend.Dockerfile
      #     tags: docker.veracioux.me/frontend:${{ env.DOCKER_IMAGES_VERSION }}
      #     cache-from: ${{ env.CACHE_FROM }}
      #     cache-to: ${{ env.CACHE_TO }}
      #     load: true

      # - name: Build web image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: docker/web.Dockerfile
      #     tags: docker.veracioux.me/web:${{ env.DOCKER_IMAGES_VERSION }}
      #     cache-from: ${{ env.CACHE_FROM }}
      #     cache-to: ${{ env.CACHE_TO }}
      #     load: true

      # - name: Build github-stats image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: apps/github-stats
      #     tags: docker.veracioux.me/github-stats:${{ env.DOCKER_IMAGES_VERSION }}
      #     cache-from: ${{ env.CACHE_FROM }}
      #     cache-to: ${{ env.CACHE_TO }}
      #     load: true

      - name: Push images to registry
        run: |
          docker compose push
