name: Staging Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]
    branches: [staging]

env:
   VERACIOUX_DOCKER_PASSWORD: ${{ secrets.VERACIOUX_DOCKER_PASSWORD }}
   VERACIOUX_SSL_CERT: ${{ secrets.VERACIOUX_SSL_CERT }}
   VERACIOUX_SSL_KEY: ${{ secrets.VERACIOUX_SSL_KEY }}
   GITHUB_README_STATS_PAT: ${{ secrets.README_STATS_PAT }}
   # Expects credentials for service account:
   #   {environment}-deployer@veracioux.iam.gserviceaccount.com
   GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

jobs:
   terraform-apply:
     runs-on: ubuntu-latest
     environment: stg
     steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ env.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Select stg workspace
        working-directory: host
        run: |
          mkdir -p .terraform
          echo stg > .terraform/environment

      - name: Terraform Init
        working-directory: host
        run: terraform init

      - name: Terraform Apply
        working-directory: host
        run: terraform apply -auto-approve

   provision:
     needs: terraform-apply
     runs-on: ubuntu-latest
     environment: stg
     steps:
       - name: Checkout code
         uses: actions/checkout@v4
       - name: APT update
         run: apt-get update -y
       - name: Install dependencies
         run: apt-get install -y --no-install-recommends ansible terraform
       # - name: Set up SSH key
       #   run: |
       #     mkdir -p ~/.ssh
       #     echo "${{ env.VERACIOUX_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
       #     chmod 600 ~/.ssh/id_rsa
       - name: Run Ansible playbook
         run: |
            ansible-playbook -i "stg.veracioux.me," \
              --extra-vars "
              veracioux_ssl_cert='${{ env.VERACIOUX_SSL_CERT }}'
              veracioux_ssl_key='${{ env.VERACIOUX_SSL_KEY }}'
              veracioux_docker_password='${{ env.VERACIOUX_DOCKER_PASSWORD }}'
              github_readme_stats_pat='${{ env.GITHUB_README_STATS_PAT }}'" \
              host/playbook.yml
